<a href="https://colab.research.google.com/github/tarunn107/EDA/blob/main/Copy_of_Sample_EDA_Submission_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - EDA on Global Terrorism Dataset

##### **Project Type**    - EDA
##### **Contribution**    - Individual
##### **Name              -**     Tarun S

# **Project Summary -**

Write the summary here within 500-600 words.

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**

**Write Problem Statement Here.**

#### **Define Your Business Objective?**

Answer Here.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

### Dataset Loading

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Santa/GlobalTerrorismData.csv', encoding='latin-1')
pd.set_option('display.max_columns', None)

### Dataset First View

In [ ]:
df.head()

### Dataset Rows & Columns count

In [ ]:
print('Number of rows,columns is',df.shape)
print('Total number of elements is',df.size)

### Dataset Information

In [ ]:
df.info(verbose=True, show_counts=True)

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
df.duplicated().sum()

#### Missing Values/Null Values

In [ ]:
df.isnull().sum()

In [ ]:
# Missing Values/Null Values Count
df.isnull().sum().sum()

In [ ]:
# Visualizing the missing values
msno.bar(df)

In [ ]:
df.describe()

### What did you know about your dataset?

1.   Contains 135 columns and 181691 rows.
2.   Contains information of terror attacks from 1970 to 2017
3.   Contains 13853997 null values

In [ ]:
df1=pd.DataFrame(df[['iyear','imonth','iday','region_txt','country_txt','city','attacktype1_txt','success','suicide','targtype1_txt','weaptype1_txt','targsubtype1_txt','gname','nkill','nwound']])
df1.rename(columns = {'iyear':'year','imonth':'month','iday':'day','region_txt':'region','nwound':'wounded','nkill':'killed','country_txt':'country','attacktype1_txt':'type_of_attack','weaptype1_txt':'weapon','targtype1_txt':'target','targsubtype1_txt':'target_subtype','gname':'attacker'}, inplace = True)
df1.head()

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
df1.columns

In [ ]:
# Dataset Describe
df1.describe()

In [ ]:
df1.info()

### Variables Description

year, month, day: Represent date of attack 

* year, month, day: Represent date of attack 

* success, suicide, individual: 1 denotes success of terrorsit mission,    suicide committed, attack performed by individual. 0 denotes failure,suicide not committed, attack perdormed by group respectively.

* country, city and region of attack are mentioned in their respective columns

* type_of_attack represents the type of terrorist attack. (example:   Assasination, Bombing/Explosion)
*target column contains the name of target organisation.
*attacker column contains the name of the terrorist group
*killed,wounded shows the number of people killed and wounded respectively.

### Check Unique Values for each variable.

In [ ]:
df1.nunique()

In [ ]:
print(df1['suicide'].unique())

## 3. ***Data Wrangling***

### Data Wrangling Code

Dealing with missing values as shown below.
Creating a new column 'casulaties' as sum of 'wounded' and 'killed'.

In [ ]:
df1['wounded'] = df1['wounded'].fillna(0).astype(int)
df1['killed'] = df1['killed'].fillna(0).astype(int)
df1['casualities']=df1['wounded']+df1['killed']
df1['target_subtype']=df1['target_subtype'].fillna('Other')
df1['city']=df1['city'].fillna('Unknown')

df1.isnull().sum()

In [ ]:
#Country with the most attacks. 
country=df1['country'].value_counts().to_frame()
country.rename(columns = {'country':'attacks'}, inplace = True)
country




*  Iraq is the most attacked country.

In [ ]:
#City with the most attacks. Excluding 'Unknown' values using drop method.
city=df1['city'].value_counts().to_frame()
city.drop(index=city.index[0], axis=0, inplace=True)
city.rename(columns = {'city':'attacks'}, inplace = True)
city





*   Baghdad is the most attacked city

In [ ]:
#creating sub dataframe from main dataframe for ransom information 
df2=pd.DataFrame(df[['country_txt','city','ransompaid']])
df2.rename(columns = {'country_txt':'country'}, inplace = True)
#filling null values with 0, replacing -99 with 0
df2= df2.dropna()
df2['ransompaid'] = df2['ransompaid'].replace([-99], np.nan)
df2['ransompaid'] = df2['ransompaid'].replace([0], np.nan)

df2= df2.dropna()

a=(df2.groupby(['country'])['ransompaid'].sum()) 
b=(df2.groupby(['country'])['ransompaid'].count())
df3= pd.merge(a, b, right_index = True,left_index = True)
df3.rename(columns={'ransompaid_x':'ransom sum','ransompaid_y':'number of ransom attacks'},inplace=True)
df3 = df3.astype({"ransom sum": int})
df3.sort_values(by=['number of ransom attacks'],ascending=False, inplace=True)
df3.reset_index(inplace=True)
df3.head()

Phillipines is the country with the most number of ransom attacks which succeeded.

In [ ]:
#highest ransom incident
df2.loc[df2['ransompaid']==df2['ransompaid'].max()]

In [ ]:
df2.loc[df2['country']=='India']

In [ ]:
#creating sub dataframe from main dataframe for kidnap information 
df4=pd.DataFrame(df[['country_txt','nhostkid']])
df4.rename(columns = {'country_txt':'country','nhostkid':'kidnap operations'}, inplace = True)
df4['kidnap operations'] = df4['kidnap operations'].replace([-99], np.nan)
df4['kidnap operations'] = df4['kidnap operations'].replace([0], np.nan)
df4= df4.dropna()

a=(df4.groupby(['country'])['kidnap operations'].sum()) 
b=(df4.groupby(['country'])['kidnap operations'].count())
df5= pd.merge(b, a, right_index = True,left_index = True)
df5.rename(columns={'kidnap operations_x':'kidnap operations','kidnap operations_y':'number of people kidnapped'},inplace=True)
df5 = df5.astype({'number of people kidnapped': int})
df5.sort_values(by=['kidnap operations'],ascending=False, inplace=True)
df5.reset_index(inplace=True)
df5.head()

India is the country with the most kidnapping operations.

Identifying the terorrist groups with the most number of attacks

In [ ]:
df1['attacker'].value_counts()
top_attackers=pd.DataFrame(df1['attacker'].value_counts().reset_index())
top_attackers.columns=['organistation','number_of_attacks']
top_attackers.drop(index=top_attackers.index[0], axis=0, inplace=True)

top_attackers.head(6)

In [ ]:
df1['type_of_attack'].value_counts()/df1.shape[0]*100

Attacks By Student Radicals

In [ ]:
df1.loc[df1['attacker']=='Student Radicals']['country'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

In [ ]:
df1.loc[df1['attacker']=='Student Radicals']['year'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

### What all manipulations have you done and insights you found?

Answer Here.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

In [ ]:
#Creating wordcloud where countries displayed with biggest text have had the most attacks.
from wordcloud import WordCloud
plt.subplots(figsize=(10,10))
wordcloud = WordCloud(background_color = 'white',width = 400,height = 400).generate(' '.join(df1['country']))
plt.title('Most Attacked Countries', fontsize = 20)
plt.axis('off')
plt.imshow(wordcloud)

WordCloud of top countries attacked by terrorists.

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

###**Identifying Most Attacked Countries**

#### Chart - 1

In [ ]:
# Chart - 1 visualization code
#creating function as shown below, counting the occurence of each country in the 'country' column
def most_attacked_countries():
  country=df1['country'].value_counts().head(10)
  plt.subplots(figsize=(14,10))
  #allocating x and y axis values  
  plot1 = sns.barplot(x=country.index,y=country,palette='inferno')
  plot1.set_xlabel("Country",fontsize=17)
  plot1.set_ylabel("Number of Attacks",fontsize=17)
  plot1.set_title("Most Attacked Countries",fontsize=20)
  plt.xticks(rotation=45)
  plt.show()
  
most_attacked_countries()

##### 1. Why did you pick the specific chart?

This bar chart was chosen to identify the Top 10 Most attacked Countries.

##### 2. What is/are the insight(s) found from the chart?

* Iraq is the most attacked country with 24636 attacks.(found in the previous section)
* India is the third most attacked country with 11960 attacks.
* The top 4 attacked countries are Asian.

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

###**Identifying Most Attacked City**
#### Chart - 2

In [ ]:
# Chart - 2 visualization code
#creating function as shown below, counting the occurence of each city in the 'city' column
def most_attacked_cities():
  city=df1['city'].value_counts().head(10).drop(labels = ['Unknown']) 
  plt.subplots(figsize=(14,10))
  #allocating x and y axis values  
  plot1 = sns.barplot(x=city.index,y=city,palette='viridis')
  #setting x label, y label, title
  plot1.set_xlabel("City",fontsize=17)
  plot1.set_ylabel("Number of Attacks",fontsize=17)
  plot1.set_title("Most Attacked Cities",fontsize=20)
  plt.xticks(rotation=45)
  plt.show() 

most_attacked_cities()

##### 1. Why did you pick the specific chart?

The above bar chart was chosen to identify the 10 most attacked Cities.

##### 2. What is/are the insight(s) found from the chart?


*   Baghdad, the capital of Iraq is the most attacked city, with 7589 attacks.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.



*   Identifying most attacked Cities and Countries could aid in reducing damages done,by increasing precautionary measures such as high security, weapon control, in these areas.

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

####**The Most Dangerous Terrorist groups, in terms of most number of attacks.**
#### Chart - 3

In [ ]:
# Chart - 133 visualization code
#creating function as shown below, counting the occurence of each terrorist group in the 'attacker' column
#we ignore unknown terror groups
def top_terror():
  top_attackers=df1['attacker'].value_counts().head(10).drop(labels = ['Unknown']) 
  plt.subplots(figsize=(14,10))
  #allocating x and y axis values  
  plot1 = sns.barplot(x=top_attackers.index,y=top_attackers,palette='copper')
  #setting x label, y label, title
  plot1.set_xlabel("Terrorist Organization",fontsize=17)
  plot1.set_ylabel("Number of Attacks",fontsize=17)
  plot1.set_title("Terrorist Groups with Most Number of Attacks",fontsize=20)
  plt.xticks(rotation=90)
  plt.show()

top_terror()

##### 1. Why did you pick the specific chart?

This bar chart was chosen to identify the top terrorist organizations in terms of number of attacks done.

##### 2. What is/are the insight(s) found from the chart?

*  Taliban, ISIL, Shining Path and FMLN are the top 4 terrorist groups.
*   Taliban made a total of 7478 attacks

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.



*   Identifying major terror groups could be the first step in preveting future attacks from them.

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

####**Next we see the number of attacks each year.**

#### Chart - 4

In [ ]:
# Chart - 4 visualization code
#We create the below function to find the occurence of each year in the dataframe using value_counts
def att_year():
  attacks_year=df1['year'].value_counts()
  plt.subplots(figsize=(14,10))
  #allocating x and y axis values  
  plot1 = sns.barplot(x=attacks_year.index,y=attacks_year)
  #setting x label, y label, title
  plot1.set_xlabel("Year",fontsize=17)
  plot1.set_ylabel("Number of Attacks",fontsize=17)
  plot1.set_title("Number of Attacks over the years",fontsize=23)
  plt.xticks(rotation=45)
  plt.show()

att_year()

##### 1. Why did you pick the specific chart?

This chart was chosen to visualize the variation of number of attacks with the progress of years from 1970 to 2017.

##### 2. What is/are the insight(s) found from the chart?




*  Number of attacks per year has been increasing gradually from 1970.
*  A sudden dip in the number of attacks happens in 1998.
*  Drastic increase in number of attacks is noted since 2012.
* 2014 had the highest number of attacks.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.



*   Analysing what caused the dip in terror attacks in 1998 could help in recreating the scenario again, thereby bringing down number of attacks.

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

####**Number of casualities each year**
#### Chart - 5

In [ ]:
#Creating function casuality which groups df1 by year first, then calculates the sum of casualities
def casuality():  
  casualities_df=pd.DataFrame(df1.groupby('year').sum())
  plt.subplots(figsize=(14,10))
  #allocating x and y axis values
  plot1 = sns.barplot(x=casualities_df.index,y=casualities_df['casualities'])
  #setting x label, y label, title
  plot1.set_xlabel("Year",fontsize=17)
  plot1.set_ylabel("Number of Casualities",fontsize=17)
  plot1.set_title("Number of Casualities over the years",fontsize=23)
  plt.xticks(rotation=45)
  plt.show()

casuality()

Figuring out what caused the spike in number of casualities in 2001

In [ ]:
#Identifying why 2001 shows increased casualities compared to number of attacks from previous chart
df1[df1['casualities']==df1['casualities'].max()]

Finding the exact number of casualities in the year 2014(highest bar) and 1971(lowest bar)

In [ ]:
#using max and min function to get highest and lowest number of casualities
print(df1.groupby('year')['casualities'].sum().max())
df1.groupby('year')['casualities'].sum().min()

##### 1. Why did you pick the specific chart?
This chart was chosen to visualize the variation of casualities due to attacks with the progress of years from 1970 to 2017.

##### 2. What is/are the insight(s) found from the chart?
* It is identical to number of attacks variation in the previous sections except for 2001. The 9/11 attacks are the reason behind this spike in the year 2001.
* 9574 casualities were reported in the 9/11 attack.

*   2014 recorded the highest number of casualities(85618)

*   1971 recorded the highest lowest of casualities(255)

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

###**Now we try to figure out the most Lethal Terror Groups in terms of Number of Casualities and the number of attacks it took for them to reach that number of casualities**

###Chart-6

In [ ]:
#defininf function to get casualities and attacks in single dataframe
def attacks_with_casuality():
  #we create the below dataframe to find the terrorist groups with top casualities  
  top_casualities=pd.DataFrame(df1.groupby('attacker')['casualities'].sum().sort_values(ascending=False))
  #dropping unknown attackers
  top_casualities.drop(index=top_casualities.index[0], axis=0, inplace=True)
  #creating dataframe to identify number of attacks by each group
  top_attackers1=pd.DataFrame(df1['attacker'].value_counts().drop(labels = ['Unknown']) )
  top_attackers1.reset_index(inplace=True)
  top_attackers1.columns = ["attacker", "attacks"]
  #merging the above two dataframes to get the number of casualities and attacks on the same dataframe
  top_attackers_c=pd.merge(top_casualities, top_attackers1, on='attacker')
  top_attackers_c=top_attackers_c[top_attackers_c['casualities']>10000]
  top_attackers_c['casuality_ratio']=top_attackers_c['casualities']/top_attackers_c['attacks']
  top_attackers_c = top_attackers_c.astype({'casuality_ratio':'int'})
  #sorting by highest to lowest casualities 
  top_attackers_c.sort_values(by='casualities',ascending=False,inplace=True)
  
top_attackers_c

In [ ]:
#Plotting bar graph
f,ax = plt.subplots(figsize=(20, 15))
sns.set_color_codes("pastel")
#setting x, y axis with x axis as number of attacks
sns.barplot(x="casualities", y="attacker", data=top_attackers_c,label="casualities", color="b")
sns.set_color_codes("muted")
#setting x, y axis with x axis as number of casualities
sns.barplot(x="attacks", y="attacker", data=top_attackers_c, label="attacks", color="b")
# Adding legend
ax.legend(ncol=2, loc="center right", frameon=True,fontsize=15)
ax.set( ylabel="Terrorist Group", xlabel="Number of Attacks and Casualities of Terrorist groups",title="Terrorist Groups with Most Number of Casualities and their number of attacks")
for item in [ax.title, ax.xaxis.label, ax.yaxis.label]:
                 item.set_fontsize(20)
sns.despine(left=True, bottom=True)

##### 1. Why did you pick the specific chart?

* Using the above chart, we identify the top 10 terrorist groups with most number of casualities
* We use a stacked bar chart to identify the number of attacks it took for the terrorist group which led to the number of casualities

##### 2. What is/are the insight(s) found from the chart?


*  Though the Taliban has the most number of attacks, ISIL has the most number of casualities.
*  We define a term called casuality ratio which denotes the average number of casualities per attack. From the graph we identify Al-Qaida's number of attacks is extremely small, but the number of casualities is significantly large.Thus Al-Qaida is a lethal terrorist group which has carried out mass killings in its attacks.
*Al-Qaida has a casuality ratio of 383, which means 383 kills per attack.Next on the list is LTTE with 13 kills per attack.

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

###**Terrorist Attacks across different regions through the years**

###Chart-7

In [ ]:
# Chart - 7 visualization code
#defining function below to group dataframe by years, regions
def terr_region():
  attacks_year = df1.groupby(['year', 'region']).count().unstack()['country']
  attacks_year.plot(kind='line', figsize=(20,6)).patch.set_facecolor('white')
  plt.grid(color='grey')
  plt.title('Terrorist attacks across regions', fontsize = 20)
  plt.ylabel('Number of Attacks', fontsize = 15)
  plt.xlabel('Year', fontsize = 15)
terr_region()

In [ ]:
#Defining pie chart to find the percentage of attacks in different regions 
fig = plt.figure(figsize =(7, 7))
plt.pie(attacks_regions,labels=list(attacks_regions.index),autopct='%1.1f%%',startangle=180)
plt.title('Attacks Across Various Regions')
plt.show()

##### 1. Why did you pick the specific chart?




*  Line plot of number of terrorist attacks across different regions represented with different colours is visualized to demonstrate the variation of number of attacks through the years for each particular reagion seperately.
*  Pie Chart of distrubtion of attacks across various regions is visualised.

##### 2. What is/are the insight(s) found from the chart?


1.   Middle East and North Africa region has seen the highest spike in terrorsist attacks since 2010 
2.  East Asia, Central Asia appears to consistently have lower number of attacks compared to other regions.
3. From the pie chart it is understood that 27.8% of all attacks have happened in Middle East and North Africa

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

#### **Identifying the Targets that have been attacked the most.**
#### Chart - 8

In [ ]:

#defining function for creating a bar graph to depict number of attacks on different target types
def top_targets():
  targets = df1['target'].value_counts()
  palette = sns.color_palette("Spectral", 15).as_hex()
  targets.plot(kind = 'barh',figsize=(15,10), color = palette , grid = True).patch.set_facecolor('white')
  plt.grid(color='grey', linestyle='-')
  plt.title('Attacks on various Targets', fontsize = 26)
  plt.xlabel('Number of attacks', fontsize = 16)
  plt.ylabel('Target type', fontsize = 16)

top_targets()

##### 1. Why did you pick the specific chart?

This horizontal Bar graph shows the type of targets affected the most due to terror attacks.

##### 2. What is/are the insight(s) found from the chart?



*   Private Citizens and property have been the most affected, followed by Military and Police as the second and third most affected respectively.

In [ ]:
df1.target.value_counts(normalize=True).mul(100).round(1).astype(str) + '%'

* 23.9% of all attacks have been on Private Citizens and Property.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

*   Increased security to civilians is required.

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

####**Considering the frequency of mass shootings in schools in recent times, we take a look at the number of attacks in Educational Institutions over the years**

#### Chart - 9

In [ ]:
#defining function to plot line chart of number of education building related attacks over the years
def edu_attack():
#counting number of incidents related to educational institutions using value_counts
  df1[df1['target_subtype']=='School/University/Educational Building']['year'].value_counts().sort_index().plot(kind = 'line', marker = 'o', ls = ':', grid = True, colormap = "cividis", figsize=(15,5)).patch.set_facecolor('#f0ffff')
  plt.grid(color='grey', linestyle='-')
  plt.title('Attacks In School/University/Educational Buildings', fontsize = 25)
  #plotting x, y labels.
  plt.ylabel('No. of Attacks', fontsize = 15)
  plt.xlabel('Year', fontsize = 15)
  plt.xticks(df1[df1['target_subtype']=='School/University/Educational Building']['year'].value_counts().sort_index().index)
  plt.xticks(rotation=45)
  plt.legend()
  
edu_attack()

In [ ]:
#finding number of attacks in 2012
schools=df1[df1['target_subtype']=='School/University/Educational Building']
schools=schools[schools['year']==2012]
schools['year'].value_counts()

##### 1. Why did you pick the specific chart?

This line chart was chosen to visualize the number of terrorsit incidents in educational institutions over the years.

##### 2. What is/are the insight(s) found from the chart?


1.  Number of attacks increased after 2006
2.  2012 was the year with most number of terrorist incidents in educational institutions. (276)

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

#### **We compare the number of Successful attacks to failed attacks across different regions**

#### Chart - 10

In [ ]:
#creating function to show horizontal bar graph of number of successful, failed terror attacks across regions.
def sf():
  #Creating sub dataframe df6 with sucess failure information
  df6=df[['region_txt','success']]
  df6=pd.DataFrame(df6.value_counts().reset_index())
  df6.columns = ["region", "status", "count"]
  #replacing 0 and 1 with failure and success
  df6['status'] = df6['status'].replace([0,1], ['Failure', 'Success'])
  plt.figure(figsize=(20,5))
  g = sns.catplot(data=df6, kind="bar", x="count", y="region", hue="status",  palette="dark",height=9, aspect=12/9)
  g.set(xlabel='number of attacks', ylabel='region',title='SUCCESSFUL AND FAILED ATTACKS COMPARISON')

sf()

##### 1. Why did you pick the specific chart?

To compare the number of successful attacks and failed attacks side by side, this barplot was chosen. Comparison of this kind can give insights about regions handling the terror attacks successfuly.

##### 2. What is/are the insight(s) found from the chart?



*   The general trend observed here is that the number of failed attacks is less than a quarter of the number of successful attacks in highly attacked regions
*   Central America and Carribbean region have a very low number of failed attacks to successful attacks.
* We can observe that around 96 percent of attacks in Central America and Carribbean region turn out successful.
* In regions with more than 10000 attacks, Western Europe appears to have more number of failed attacks compared to successful attacks, compared to the other 4 regions above it.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

#### **Continuing from the previous section , we visualize the success percentage of terror attacks across different regions**
#### Chart - 11

In [ ]:
#creating function to get success percentage and failure percentage dataframe
def sf2():
  #Creating sub dataframe df7 with success failure information
  df7=df[['region_txt','success']]
  df7=pd.DataFrame(df7.value_counts().reset_index())
  df7.columns = ["region", "success", "count"]

  #counting all success values to a seperate df
  sucessful=pd.DataFrame(df7[df7['success']==1])
  sucessful.drop(['success'], axis=1,inplace=True)
  sucessful = sucessful.rename(columns={'count': 'success'})

  #counting all failure values to a seperate df
  failure=pd.DataFrame(df7[df7['success']==0])
  failure.drop(['success'], axis=1,inplace=True)
  failure = failure.rename(columns={'count': 'failure'})

  #merging two dataframes to get sucess and failure attack counts on each region
  success_fail = pd.merge(sucessful, failure, on ='region')
  success_fail['total']=(success_fail['success']+success_fail['failure'])
  success_fail['fail_percent']=(success_fail['failure']/success_fail['total'])*100
  success_fail['success_percent']=(success_fail['success']/success_fail['total'])*100
  success_fail=success_fail.sort_values(by=['success_percent'],ascending=False)
  success_fail

sf2()

In [ ]:
#plotting bar chart of success percentage of terror attacks across different regions
plt.figure(figsize=(20,5))
g = sns.catplot(data=success_fail, kind="bar", x="region", y="success_percent",  palette="dark",height=9, aspect=12/9)
g.set(xlabel='Region', ylabel='Success Percentage',title='PERCENTAGE OF SUCCESSFUL ATTACKS')
plt.xticks(rotation=45)
plt.show()

##### 1. Why did you pick the specific chart?

The above bar plot was chosen to visualize the success percentage of terrorist attacks across different regions.

##### 2. What is/are the insight(s) found from the chart?



*   Central America and Caribbean region has the highest percentage of successful terrorist attacks.(96.4%)
*   North America has the lowest percentage of successful terror attacks.(83.7%)
* Considering regions with more than 10000 terror attacks. Western Europe has a lowest percentage of success.(85.1%)

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Analyzing Western Europe's countermeasures to terror attacks could be the answer to bringing down successful attack percentage in heavily attacked regions.

--------------------------------------------------------------------------------

--------------------------------------------------------------------------------

###**We take a look at the Most used weapons by Terrorist groups worldwide**

#### Chart - 11

In [ ]:
#Creating function to form a pie chart of the most used weapons
def most_used_weapons():
  attacks_regions = df1['weapon'].value_counts().head(5)
  fig = plt.figure(figsize =(7, 7))
  plt.pie(attacks_regions,labels=list(attacks_regions.index),autopct='%1.1f%%',startangle=180)
  plt.title('Most used weapons',fontsize=15)
  plt.show() 
  
most_used_weapons()

##### 1. Why did you pick the specific chart?

This pie chart was chosen to visualize the weapon usage of the attackers.

##### 2. What is/are the insight(s) found from the chart?


1.   50.9% of all terrorist attacks are done using explosives.

2.  32.2% attacks are done using firearms

 ##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.



*   Identifying Raw Materials for the manufacture of explosives and restricting its usage could help reduce attacks done using explosives.

####**We have identified the top terrorist organizations in Chart 3.Now we identify the weapon preferences of these organizations.**
#### Chart - 12

In [ ]:
#Function to display pie chart of a particular category
class Chart:
  def __init__(self):
    pass
  def top4xofy(self,str1,str2,str3,str4):
    try:
      a=df1[df1[str1]==str2][str3].value_counts()
      a=a.iloc[:4]
      fig = plt.figure(figsize =(5, 5))
      plt.pie(a,labels=list(a.index),autopct='%1.1f%%',startangle=180,explode=(0.1, 0.1, 0.2, 0.3))
      plt.title(str4)
      plt.show() 
    except:
      a=df1[df1[str1]==str2][str3].value_counts()
      a=a.iloc[:4]
      fig = plt.figure(figsize =(7, 7))
      plt.pie(a,labels=list(a.index),autopct='%1.1f%%',startangle=180)
      plt.title(str4)
      plt.show()

In [ ]:
obj=Chart()
obj.top4xofy('attacker','Taliban','weapon','Weapons used by Taliban(top 4)')



##### 1. Why did you pick the specific chart?

This pie chart was chosen to identify the top four weapons used by Taliban


##### 2. What is/are the insight(s) found from the chart?

Taliban prefers the use of explosives the most, followed by firearms.

#### Chart - 13

In [ ]:
obj.top4xofy('attacker','Islamic State of Iraq and the Levant (ISIL)','weapon','Weapons used by ISIL(top 4)')

##### 1. Why did you pick the specific chart?

This pie chart was chosen to identify the top four weapons used by ISIL

##### 2. What is/are the insight(s) found from the chart?

ISIL uses explosives the most.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 14

In [ ]:
obj.top4xofy('attacker','Shining Path (SL)','weapon','Weapons used by SL(top 4)')

##### 1. Why did you pick the specific chart?

This pie chart was chosen to identify the top four weapons used by ISIL.

##### 2. What is/are the insight(s) found from the chart?

Out of all the other Top terrorist groups, ISIL uses explosives and firearms almost equally.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 15

In [ ]:
# Chart - 5 visualization code
obj.top4xofy('attacker','Farabundo Marti National Liberation Front (FMLN)','weapon','Weapons used by FMLN(top 4)')

##### 1. Why did you pick the specific chart?

This pie chart was chosen to identify the top four weapons used by FMLN

##### 2. What is/are the insight(s) found from the chart?

FMLN uses firearms in the majority of their attacks, their second preference is explosives.

##### 3. Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 14 - Correlation Heatmap

In [ ]:
#Relation between each column with every other column can be visualised using correlation heatmap
corr = df1.corr()
hm = sns.heatmap(corr, vmin=-1, vmax=1, center=0,annot = True,robust = False, linewidth = 3,cmap=sns.diverging_palette(1, 50, as_cmap = True),
    square=True)
hm.set_xticklabels(hm.get_xticklabels(),rotation=90, horizontalalignment='right');
sns.set(rc = {'figure.figsize':(20,10)})

The heatmap shows that only killed, wounded and casualities are related which is obvious considering that all 3 columns represent the same category, that is, damage done to people.

##### 1. Why did you pick the specific chart?

Heat map is used to visualize the relation between different columns. 1 indicates maximum corelation.

##### 2. What is/are the insight(s) found from the chart?

The heatmap shows that only killed, wounded and casualities are related which is obvious considering that all 3 columns represent the same category, that is, damage done to people.

#### Chart - 15 - Pair Plot

In [ ]:
# Pair Plot visualization code

#sns.pairplot(df1, diag_kind="hist")

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ? 
Explain Briefly.

Answer Here.

# **Conclusion**

Write the conclusion here.

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***